{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "import",
        "prettier"
    ],
    // packages required:
    // eslint-plugin-import
    // eslint-import-resolver-typescript
    // prettier
    // eslint-plugin-prettier
    // eslint-config-prettier - disables all rules that are unnecessary or might conflict with Prettier
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:import/recommended",
        "plugin:import/typescript",
        "plugin:prettier/recommended"
    ],
    "settings": {
        "node": true,
        "typescript": true
    },
    "rules": {
        "prettier/prettier": "warn",
        "import/no-unused-modules": [
            "warn",
            {
                "unusedExports": true
            }
        ],
        "@typescript-eslint/no-unused-expressions": "warn"
    }
}